.square{
  position: relative;
  
  width: 510px;
  height: fit-content;

  margin: auto;
  margin-top: 15%;
  background: #FFFFFF;
  border: 1px solid #ffffff;
  box-shadow: 10px 10px 10px rgba(47, 47, 47, 0.25);
  border-radius: 40px;
  filter: opacity(96%);
  }
  
body{
  background-image: url(vadim-bogulov-In9Tha9_Hu4-unsplash.jpg);
  background-size: cover;
}

.fblogin{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px;

  position: static;
  width: 345px;
  height: 54px;
  
  margin-left: auto;
  margin-right: auto;
  

  background: #1877F2;
  border-radius: 10px;
}

.fb{
  position: static;
  width: 205px;
  height: 23px;
  left: 54px;
  top: 15px;

  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  
  color: #FFFFFF;

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 15px;
}

.gologin{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px;

  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;

  position: static;
  width: 345px;
  height: 54px;

  background: #FFFFFF;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
  border-radius: 10px;
}

.gg{
  position: static;
  width: 167px;
  height: 23px;
  left: 54px;
  top: 15px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;

  color: rgba(0, 0, 0, 0.54);


  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 15px;
}

.iplogin{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px;

  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  

  position: static;
  width: 345px;
  height: 54px;

  background: #000000;
  border-radius: 10px;
}

.ip{
  position: static;
  width: 148px;
  height: 24px;
  left: 54px;
  top: 15px;

  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */


  color: #FFFFFF;


  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 15px;
}

.batas{
  padding:4%;
  text-align: center;
  font-weight: bold; 
}

form{
  margin-left: 15.5%;
  margin-right: 15.5%;
}

.form-check{
  margin-bottom: 5%;
}

.btn-success{
  margin:auto;
  width: 345px;
  height: 50px;
}

.btn-link{
  margin-left: 40%;
}

.komentar{
text-align: center;
width: 70%;
margin: auto;
margin-bottom: 8%;
}


